---
import type { MarkdownHeading } from 'astro';

interface Props {
  headings: MarkdownHeading[];
}

const { headings } = Astro.props;

const filteredHeadings = Array.isArray(headings) ? headings.filter((heading) => heading.depth > 1) : [];
---

<nav>
  <ol>
    <!-- {filteredHeadings.length > 0 && <h4>Table of Contents</h4>} -->
    {
      filteredHeadings.map((heading) => (
        <li>
          <a class="text-slate-700 dark:text-slate-300 hover:text-rainbow font-semibold" href={`#${heading.slug}`}>{heading.text}</a>
        </li>
      ))
    }
  </ol>
</nav>